<div class="blinds-inner component-inner">
    {{> component this}}
    <div class="blinds-widget component-widget">
        <div class="blinds-container">
            <div class="blinds-items clearfix">
                {{#each _items}}<div class="blinds-item">
                    <div class="blinds-item-inner" style="background-image:url('{{src}}')">
                        <div class="blinds-captions">
                            {{#each _captions}}
                                <div class="blinds-caption">{{text}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>{{/each}}
            </div>
        </div>
    </div>
</div>
