<div class="blinds-inner component-inner">
	{{> component this}}
	<div class="blinds-widget component-widget">
		<div class="blinds-container">
			<div class="blinds-items clearfix">
				{{#each _items}}
					<div class="blinds-item" style="background-image:url('{{src}}')">
						<div class="blinds-captions">
							{{#each _captions}}
								<p>{{text}}</p>
							{{/each}}
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
