<div class="blinds-inner component-inner">
    {{> component this}}
    <div class="blinds-widget component-widget">
        <div class="blinds-items clearfix">
            {{#each _items}}
            <div class="blinds-item" style="background-image:url('course/en/images/{{_graphic}}')">
                <div class="blinds-captions">
                    {{#each captions}}
                    <p>{{_text}}</p>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
